obj/GU.csproj.nuget.dgspec.json
.vs/GU/v16/Server/sqlite3/storage.ide-wal
.vs/GU/v16/Server/sqlite3/storage.ide
.vs/GU/v16/Server/sqlite3/db.lock
.vs/GU/config/applicationhost.config
.vs/GU/v16/Server/sqlite3/storage.ide-shm
