@{
    ViewData["Title"] = "ABOUT";
}

<br />

<div class="container">

    <div class="row">
        <h2>POND</h2>
    </div>
    <div class="row">
        <img src="~/images/user.png" width="20%" height="20%" />
    </div>
    <div class="row">
        <h2>BANK</h2>
    </div>
    <div class="row">
        <img src="~/images/user.png" width="20%" height="20%" />
    </div>
    

</div>


<th>Create by: Pond, Bank</th>
