@{
    ViewData["Title"] = "ABOUT";
}

<div class="row">
    <br />
    <br />
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">

        <div class="row">
            <div class="col-md-12">
                <h1 style="color:#A08BA5" class="display-4">
                    ABOUT US
                </h1>
                <hr />
            </div>
        </div>

        <div class="row">

            <div class="col-md-4">
                <div class="card" style="width:100%">
                    <img class="card-img-top" src="~/img/growup/img_avatar1.png" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">Pond</h4>
                        <p class="card-text">.NET CORE Developer</p>


                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card" style="width:100%">
                    <img class="card-img-top" src="~/img/growup/img_avatar1.png" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">Bank</h4>
                        <p class="card-text">Developer</p>


                    </div>
                </div>
            </div>



            
            

            

            
        </div>



    </div>
    <div class="col-md-1"></div>
</div>





