@{
    ViewData["Title"] = "Contact";
}

<br />
<br />
<br />
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">

        <img src="~/img/growup/GrowUp_Game_Sample.png" width="90%" />

        <br />
        <address>
            Pondb13813@gmail.com<br />
            Sampran, Nakhon Prathom 73110<br />
            <abbr title="Phone">P:</abbr>
            +66-81-986-3620
        </address>

        <address>
            <strong>Support:</strong> <a href="mailto:Support@example.com">Growyp@gmail.com</a>
            
        </address>
    </div>
    <div class="col-md-1"></div>

</div>






