@{
    ViewData["Title"] = "Contact";
}

<br />
<br />



<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">

        @*<div class="row">
            <div class="col-md-12">

            </div>
        </div>*@

        <div class="row">
            <div class="col-md-12">
                <h1 style="color:#A08BA5" class="display-4">
                    CONTACT
                </h1>
                <hr />
                <br />
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <img src="~/img/growup/GrowUp_Game_Sample.png" width="100%" />

            </div>
            <div class="col-md-6">
                <address>
                    Pondb13813@gmail.com<br />
                    Sampran, Nakhon Prathom 73110<br />
                    <abbr title="Phone">P:</abbr>
                    +66-81-986-3620
                </address>

                <address>
                    <strong>Support:</strong> <a href="mailto:Support@example.com">Growyp@gmail.com</a>

                </address>
            </div>
        </div>

        

      
        <br />
        
    </div>
    <div class="col-md-1"></div>

</div>






