@{
    ViewData["Title"] = "Home Page";
}


<script language="javascript" type="text/javascript">




    $(document).ready(function () {


        @*var isLogin;

        isLogin = @ViewData["isLogIn"];

        //ยังไม่เสร็จ ตอนนี้เช็คแค่ว่า POST แล้วเปลี่ยน USER_ID

        if (isLogin == 0) {
            document.getElementById("modalOpen").click();
        }
        else {*@

        //}



        //$('#dialogCancel').click(function () {
        //    $.magnificPopup.close();
        //});

    });

</script>

<style>

    .bg-darkbrown {
        background-color: #332421;
    }

    .white-font {
        color: white;
    }

    .p-gray-font {
        color: #A3A8A8;
    }

    .dark-gray-font {
        color: #A08B99;
    }
</style>



<!-- FIRST CONTENT -->
<div class="row bg-darkbrown white-font">
    <div class="col-md-2">

    </div>
    <div class="col-md-8 text-center">

        <div id="getStarted">

            <br />
            <br />
            <br />
            <h1 class="jumbotron-fluid">Grow your tree with your plan.</h1>
            <p>Set up your plan and complete them for tree growth. Let's enjoy it like play the game !</p>

            <br />

            <button class="btn-primary btn">GET STARTED</button>
            &nbsp;
            <button class="btn-secondary btn">SEE FEATURES</button>

            <br />
            <br />
            <br />

            <img class="img-fluid" src="~/img/growup/GrowUp_Game_Sample.png" />

            <br />
            <br />
            <br />

        </div>




    </div>
    <div class="col-md-2">

    </div>




</div>


<!-- Second Content -->
<div class="row">

    <div class="col-md-1">

    </div>
    <div class="col-md-10">

        <div id="growypSupport">

            <div class="row">
                <br />
                <br />
                <br />
            </div>

            <div class="row text-center">

                <div class="col-md-12">
                    <br />
                    <h1 class="jumbotron-fluid">Add or check at everywhere.</h1>
                    <p class="p-gray-font">Growyp support all browser and device. It’ll work on every computer and phone.</p>


                    <br />
                </div>

            </div>


            <div class="row">

                <div class="col-md-7">
                    <img class="img-fluid" src="~/img/growup/MobilePNG.png" />
                    <br />
                </div>

                <div class="col-md-5">
                    <div id="browserLogo">
                        <img class="img-fluid" src="~/img/growup/Ch_Logo.png" width="10%" />
                        <img class="img-fluid" src="~/img/growup/Firefox_Logo.png" width="10%" />
                        <img class="img-fluid" src="~/img/growup/Edge_Logo.png" width="10%" />
                        <img class="img-fluid" src="~/img/growup/Safari_Logo.png" width="10%" />
                    </div>

                    <p>
                        <h4>Broad browser support.</h4>
                        <h6 class="p-gray-font">All major browsers are supported including Internet Explorer. Set up your plan at anywhere and anytime. Growyp support people who care about planning and want to enjoy it together.</h6>

                    </p>


                    <br />

                    <div id="deviceLogo">
                        <img class="img-fluid" src="~/img/growup/Android_Logo.png" width="10%" />
                        <img class="img-fluid" src="~/img/growup/Apple_Logo.png" width="10%" />
                        <img class="img-fluid" src="~/img/growup/Window_Logo.png" width="10%" />

                    </div>

                    <p>
                        <h4>All devices can use.</h4>

                        <h6 class="p-gray-font">Growyp is based on web application. We support all operating system. It only needs browser and internet. Also, support people who not only use personal computer and have plan to use Growyp.</h6>
                    </p>



                </div>







            </div>

            <div class="row">
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
            </div>




        </div>




    </div>
    <div class="col-md-1">

    </div>






</div>


<!-- Third Content -->
<div class="row" style="background-color:#F0F4F5">

    <div class="col-md-1">

    </div>
    <div class="col-md-10">

        <div id="growypSupport">

            <div class="row">
                <br />
                <br />
                <br />
            </div>

            <div class="row text-center">

                <div class="col-md-12">
                    <br />
                    <h1 class="jumbotron-fluid">Something Growyp can do.</h1>
                    <p class="dark-gray-font">Our features for people that want to enjoy planning with feeling like play a game.</p>


                    <br />
                </div>

            </div>


            <div class="row">

                <div class="col-md-4 text-center">
                    <img class="img-fluid" src="~/img/growup/Listing.png" />

                    <div>
                        <h5>Listing</h5>
                        <h6 class="dark-gray-font">List your task with to-do-list system. Easy way to mark success or fail to your task.</h6>
                    </div>

                </div>
                <div class="col-md-4 text-center">
                    <img class="img-fluid" src="~/img/growup/Planting.png" />

                    <div>
                        <h5>Plating</h5>
                        <h6 class="dark-gray-font">Enjoy while planning with tree planting. Show us your motivation to make your tree to be the forest.</h6>
                    </div>

                </div>
                <div class="col-md-4 text-center">
                    <img class="img-fluid" src="~/img/growup/Focus.png" />
                    <div>
                        <h5>Focus</h5>
                        <h6 class="dark-gray-font">Concentration is need when do important thing. Make sure you will not lost it.</h6>
                    </div>
                </div>


            </div>




        </div>

        <div class="row">
            <br />
            <br />
            <br />

        </div>




    </div>
    <div class="col-md-1">

    </div>




</div>



<!-- Fourth Content -->
<div class="row">

    <div class="col-md-1">

    </div>
    <div class="col-md-10">

        <div id="growypSupport">

            <div class="row">
                <br />
                <br />
                <br />
            </div>

            <div class="row text-center">

                <div class="col-md-12">
                    <br />
                    <h1 class="jumbotron-fluid">Here’s some more things you’ll love.</h1>
                    <p class="dark-gray-font">Some options that Growyp can give to you. We think you'll love these!</p>


                    <br />
                </div>

            </div>


            <div class="row">

                <div class="col-md-4 text-center">
                    <img class="img-fluid rounded" style="background-color:saddlebrown" src="~/img/growup/4th_content/simple.png" width="20%" />

                    <div>
                        <br />
                        <h5>Simple</h5>
                        <h6 class="dark-gray-font">Easy and simple to use. No need to think much when to play this.</h6>
                    </div>

                </div>
                <div class="col-md-4 text-center">
                    <img class="img-fluid rounded" style="background-color:saddlebrown" src="~/img/growup/4th_content/group.png" width="20%" />

                    <div>
                        <br />
                        <h5>Group</h5>
                        <h6 class="dark-gray-font">People with have the same task also can use tag for make group planning. It's sound like multiplayer.</h6>
                    </div>

                </div>
                <div class="col-md-4 text-center">
                    <img class="img-fluid rounded" style="background-color:saddlebrown" src="~/img/growup/4th_content/style.png" width="20%" />
                    <div>
                        <br />
                        <h5>Styles</h5>
                        <h6 class="dark-gray-font">Many styles support as your desire. We will keep update many app styles for you.</h6>
                    </div>
                </div>


            </div>
            <br />

            <div class="row">

                <div class="col-md-4 text-center">
                    <img class="img-fluid rounded" style="background-color:saddlebrown" src="~/img/growup/4th_content/achievement.png" width="20%" />

                    <div>
                        <br />
                        <h5>Achievement</h5>
                        <h6 class="dark-gray-font">Goals are needed when do something. We will put something to keep walking on our app.</h6>
                    </div>

                </div>
                <div class="col-md-4 text-center">
                    <img class="img-fluid rounded" style="background-color:saddlebrown" src="~/img/growup/4th_content/responsive.png" width="20%" />

                    <div>
                        <br />
                        <h5>Responsive</h5>
                        <h6 class="dark-gray-font">Support all devices with responsive design. Make sure people can use anywhere or anytime with no bother.</h6>
                    </div>

                </div>
                <div class="col-md-4 text-center">
                    <img class="img-fluid rounded" style="background-color:saddlebrown" src="~/img/growup/4th_content/loved.png" width="20%" />
                    <div>
                        <br />
                        <h5>Loved</h5>
                        <h6 class="dark-gray-font">Grow your loved tree to find more interesting thing in app.</h6>
                    </div>
                </div>


            </div>

        </div>

        <div class="row">
            <br />
            <br />
            <br />
        </div>




    </div>
    <div class="col-md-1">

    </div>




</div>



@Html.Raw(TempData["alert_msg"])


@Html.Raw(TempData["msg"])
