@model GU.Models.User
@{
    ViewData["Title"] = "Register";
}

<script language="javascript" type="text/javascript">


   

    $(document).ready(function () {

     


        $('#Password2').blur(function () {


            var password = $("#Password").val();
            var password2 = $("#Password2").val();

            if (password == "" || password2 == "") {
                $('#Password').removeClass('pass');
                $('#Password2').removeClass('pass');
                $('#Password').removeClass('error');
                $('#Password2').removeClass('error');
                $('#msg_Password').hide();

            }
            else {
                if (password != password2) {
                    $('#Password').removeClass('pass');
                    $('#Password2').removeClass('pass');
                    $('#Password').addClass('error');
                    $('#Password2').addClass('error');

                    $('#msg_Password').show();
                    $("#msg_Password").text("Password not matches.");
                    $("#msg_Password").css('color', 'red');

                }
                else if (password == password2) {
                    $('#Password').removeClass('error');
                    $('#Password2').removeClass('error');
                    $('#Password').addClass('pass');
                    $('#Password2').addClass('pass');

                    $('#msg_Password').show();
                    $("#msg_Password").text("Password matches.");
                    $("#msg_Password").css('color', 'green');
                }
            }

            
            

        });


        $('#Password').blur(function () {


            var password = $("#Password").val();
            var password2 = $("#Password2").val();

            if (password == "" || password2 == "") {
                $('#Password').removeClass('pass');
                $('#Password2').removeClass('pass');
                $('#Password').removeClass('error');
                $('#Password2').removeClass('error');
                $('#msg_Password').hide();

            }
            else {
                if (password != password2) {
                    $('#Password').removeClass('pass');
                    $('#Password2').removeClass('pass');
                    $('#Password').addClass('error');
                    $('#Password2').addClass('error');

                    $('#msg_Password').show();
                    $("#msg_Password").text("Password not matches.");
                    $("#msg_Password").css('color', 'red');

                }
                else if (password == password2) {
                    $('#Password').removeClass('error');
                    $('#Password2').removeClass('error');
                    $('#Password').addClass('pass');
                    $('#Password2').addClass('pass');

                    $('#msg_Password').show();
                    $("#msg_Password").text("Password matches.");
                    $("#msg_Password").css('color', 'green');
                }
            }




        });

        $('#btnSubmit').click(function () {

           
            var password = $("#Password").val();
            var password2 = $("#Password2").val();
         
            var validateArray = [];


          
            if (password == "") {
                validateArray.push("Please enter <b>'Password'</b> before submit.");
                alertModal_Popup("Warning", "warning", text);
            }
           
            if (password2 == "") {
                validateArray.push("Please re-enter <b>'Password'</b> before submit.");
                alertModal_Popup("Warning", "warning", text);
            }
           
            

            

            if (validateArray.length > 0) {
                var text = "";

                var i;

                for (i = 0; i < validateArray.length; i++) {
                    text += validateArray[i] + "<br>";
                }

                alertModal_Popup("Warning", "warning", text);
                return false;
            }
            else {

                if (password != password2) {
                    $('#msg_Password').show();
                    $("#msg_Password").text("Password not matches.");
                    $("#msg_Password").css('color', 'red');

                    $('#Password').addClass('error');
                    $('#Password2').addClass('error');

                    BootstrapDialog.show({ title: 'Password', type: BootstrapDialog.TYPE_WARNING, message: 'Password not matches.' });
                    return false;
                }

                if (userIsEmpty == "N") {
                    BootstrapDialog.show({ title: 'Email', type: BootstrapDialog.TYPE_WARNING, message: 'This Email is already used.' });
                    return false;
                }
                else if (userIsEmpty == "Y") {
                    return true;
                }
             
                

            }

        });

    });

</script>

<style>
    hr.style2 {
        border-top: 3px double #8c8b8b;
        background-color: cornflowerblue;
    }

    #sp1 {
        background-color: #cdc9c9;
    }

    .error {
        border: 1px solid red;
    }

    .pass {
        border: 1px solid green;
    }

    .main-panel {
        border: 1px;
        background-color: #eaeaea;
        border-radius: 20px;
    }

    

</style>

<div>
    
    
    <div class="row">
        <br />
        <br />
        
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <form asp-action="ChangePassword" enctype="multipart/form-data">

                <div class="row">
                    <div class="col-md-12">
                        <h1 style="color:#A08BA5" class="jumbotron-fluid">CHANGE PASSWORD</h1>
                        <hr />
                    </div>
                    
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Email:</label>
                                    <input id="Email" value="@Model.Email" type="email" class="form-control" readonly />

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>New-Password:</label>
                                    <input id="Password" name="Password" type="password" class="form-control" />

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Re-Password:</label>
                                    <input id="Password2" name="Password2" type="password" class="form-control" />
                                    <p id="msg_Password"></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <br />

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">


                            <a asp-area="" asp-controller="Home" asp-action="Index"><button type="button" class="btn btn-outline btn-primary">Back</button></a>
                            <input type="submit" id="btnSubmit" value="Submit" class="btn btn-primary" />
                        </div>
                    </div>


                </div>


            </form>

            <br />
        </div>
        <div class="col-md-1"></div>
    </div>
    
    
    

</div>




