@model GU.Models.User
@{
    ViewData["Title"] = "Register";
}

<script language="javascript" type="text/javascript">


   

    

    $(document).ready(function () {

        $('#Birthdate').datepicker({
            dateFormat: 'dd/mm/yy',
            changeMonth: true,
            changeYear: true,
            yearRange: '1900:2200'

        });

        $('#btnBirthdate').click(function () {

            $('#Birthdate').val("");

        });


        if ($('#Birthdate').val() == "") {

        }
        else {
            

            var birthdate_Original = $('#Birthdate').val();

            var birthdate_Y = birthdate_Original.substring(0, 4);
            var birthdate_M = birthdate_Original.substring(4, 6);
            var birthdate_D = birthdate_Original.substring(6);

            var birthdate_Re = birthdate_D + "/" + birthdate_M + "/" + birthdate_Y;

            $('#Birthdate').val(birthdate_Re);
        }

       
        $('#btnSubmit').click(function () {

            
            var first_name = $("#First_Name").val();
            var last_name = $("#Last_Name").val();
            var birthdate = $("#Birthdate").val();

            var validateArray = [];

            
            if (first_name == "") {
                validateArray.push("Please enter <b>'First Name'</b> before submit.");
            }
            if (last_name == "") {
                validateArray.push("Please enter <b>'Last Name'</b> before submit.");
            }
            if (birthdate == "") {
                validateArray.push("Please enter <b>'Birthdate'</b> before submit.");
            }


            if (validateArray.length > 0) {
                var text = "";

                var i;

                for (i = 0; i < validateArray.length; i++) {
                    text += validateArray[i] + "<br>";
                }

                BootstrapDialog.show({ title: 'Caution', type: BootstrapDialog.TYPE_WARNING, message: text });
                return false;
            }
            else {

                return true;
                

            }

        });

    });

</script>

<style>
    hr.style2 {
        border-top: 3px double #8c8b8b;
        background-color: cornflowerblue;
    }

    #sp1 {
        background-color: #cdc9c9;
    }

    .error {
        border: 1px solid red;
    }

    .pass {
        border: 1px solid green;
    }

    .main-panel {
        border: 1px;
        background-color: #eaeaea;
        border-radius: 20px;
    }

    

</style>

<div>
    <div class="row">
        @*<div class="row show-grid">
            <div class="col-md-12" style="padding:0px">


                <div class="row show-grid2 col-md-8">
                    <h2><p class="text-primary">Register</p></h2>
                    <h4><p class="text-primary">User</p></h4>

                </div>
                <div class="row show-grid2 col-md-4"
                     style="display:flex; justify-content: flex-end;align-items:center">
                    <h3><p class="text-primary">Register </p></h3>
                </div>
            </div>*@
        <br />

    </div>
    <br />
    <br />
    
    <div class="col-md-12">
        <form asp-action="Edit" enctype="multipart/form-data">

            <div id="tab" class="tab-content card">
                <ul class="nav nav-pills">
                    <li class="active">
                        <a href="#1" data-toggle="tab">Info</a>
                    </li>
                    <li>
                        <a href="#2" data-toggle="tab">Trees</a>
                    </li>

                </ul>
                <div class="tab-content ">
                    <div class="tab-pane active" id="1">
                        <br />
                        <div class="panel main-panel">
                            <div class="panel-heading">
                              
                            </div>
                            <div class="panel-body">
                                <div class="col-md-2"></div>
                                <div class="col-md-8">
                                    

                                    <div class="row">
                                        <div class="col-md-8" style="margin-left:0px;padding:0px 0px 0px 0px;">
                                            <div class="form-group input-group">
                                                <span class="input-group-addon" id="sp1">
                                                    <font style="color:red"><b>*</b></font><label asp-for="Email" class="control-label"></label>
                                                </span>
                                                <input asp-for="Email" id="Email" class="form-control" readonly />
                                                <span asp-validation-for="Email" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-3" style="margin-left:10px;padding:0px 0px 0px 0px;">
                                            <div class="form-group input-group">


                                                <p id="checkUser"></p>

                                            </div>
                                        </div>

                                    </div>

                                    @*<div class="row">
                                        <div class="col-md-8" style="margin-left:0px;padding:0px 0px 0px 0px;">
                                            <div class="form-group input-group">
                                                <span class="input-group-addon" id="sp1">
                                                    <font style="color:red"><b>*</b></font><label asp-for="Password" class="control-label"></label>
                                                </span>
                                                <input asp-for="Password" id="Password" type="password" class="form-control" />
                                                <span asp-validation-for="Password" class="text-danger"></span>
                                            </div>
                                        </div>

                                    </div>*@


                                    <div class="row">
                                        <div class="col-md-5" style="margin-left:0px;padding:0px 0px 0px 0px;">
                                            <div class="form-group input-group">
                                                <span class="input-group-addon" id="sp1">
                                                    <font style="color:red"><b>*</b></font><label asp-for="First_Name" class="control-label"></label>
                                                </span>
                                                <input asp-for="First_Name" id="First_Name" class="form-control" />
                                                <span asp-validation-for="First_Name" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-5" style="margin-left:10px;padding:0px 0px 0px 0px;">
                                            <div class="form-group input-group">
                                                <span class="input-group-addon" id="sp1">
                                                    <font style="color:red"><b>*</b></font><label asp-for="Last_Name" class="control-label"></label>
                                                </span>
                                                <input asp-for="Last_Name" id="Last_Name" class="form-control" />
                                                <span asp-validation-for="Last_Name" class="text-danger"></span>
                                            </div>
                                        </div>

                                    </div>


                                    <div class="row">
                                        <div class="col-md-5" style="margin-left:0px;padding:0px 0px 0px 0px;">
                                            <div class="form-group input-group">
                                                <span class="input-group-addon" id="sp1">
                                                    <font style="color:red"><b>*</b></font><label asp-for="Birthdate" class="control-label"></label>
                                                </span>
                                                <input asp-for="Birthdate" id="Birthdate" readonly class="form-control" />

                                                <span class="input-group-btn">

                                                    <button type="button" class="btn btn-default" id="btnBirthdate">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </button>
                                                </span>


                                            </div>
                                        </div>

                                        <div class="col-md-5" style="margin-left:10px;padding:0px 0px 0px 0px;">
                                            <div class="form-group input-group">
                                                <span class="input-group-addon" id="sp1">
                                                    <label asp-for="Gender" class="control-label"></label>
                                                </span>
                                                <select asp-for="Gender" class="chosen-select">
                                                    <option value="M">Male</option>
                                                    <option value="F">Female</option>
                                                    <option value="O">Other</option>
                                                </select>
                                                <span asp-validation-for="Gender" class="text-danger"></span>
                                            </div>
                                        </div>

                                    </div>

                                  
                                </div>
                                <div class="col-md-2"></div>
                                

                            </div>

                        </div>


                     



                    </div>




                </div>
            </div>



            <div class="form-group">


                <a asp-area="" asp-controller="Home" asp-action="Index"><button type="button" class=" btn btn-facebook">กลับ</button></a>
                <input type="submit" id="btnSubmit" value="Submit" class="btn btn-outline btn-primary" />
            </div>
            @Html.Raw(TempData["msg"])

        </form>
    </div>

</div>




